/ =============================================================================
/  さまざまなライブラリのCDN(Content Delivery Network)の紹介
/ =============================================================================

/ A Modern CSS Reset
link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css"

/ jQuery - JavaScript library for DOM operations
script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"

/ Slick-carousel the last carousel you'll ever need
link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"

/ Lightbox is small javascript library used to overlay images on top of the current page.
link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css"
script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"

/ fancybox - Touch enabled, responsive and fully customizable jQuery lightbox script
link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css"
script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"

/ Vegas - Fullscreen Backgrounds and Slideshows.
link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vegas/2.5.4/vegas.min.css"
script src="https://cdnjs.cloudflare.com/ajax/libs/vegas/2.5.4/vegas.min.js"

/ animate.css - Plug and play, app-like animations for your websites and web apps.
link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"

/ ProgressBar.js - Responsive and slick progress bars with animated SVG paths
script src="https://cdnjs.cloudflare.com/ajax/libs/progressbar.js/1.1.0/progressbar.min.js"

/ Chart.js - Simple HTML5 charts using the canvas element.
script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"

/ Shuffle Text
script src="https://cdn.jsdelivr.net/npm/shuffle-text@0.3.4/build/shuffle-text.min.js"

/ Element 'inview' Event Plugin
script src="https://cdnjs.cloudflare.com/ajax/libs/protonet-jquery.inview/1.1.2/jquery.inview.min.js"

/ A simple plugin for CSS3 text animations
script src="https://cdnjs.cloudflare.com/ajax/libs/textillate/0.4.0/jquery.textillate.min.js"

/ A lightweight, easy to use Javascript <span> injector for radical Web Typography
script src="https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.7.0/jquery.lettering.min.js"

/ Touch enabled jQuery plugin for creating responsive carousels and sliders.
link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css"
script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js"

/ A lightweight JavaScript library for creating particles
script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"

/ Responsive, sortable, filterable and draggable layouts
script src="https://cdnjs.cloudflare.com/ajax/libs/muuri/0.9.5/muuri.min.js"

/ JavaScript implementation of the Web Animations API
script src="https://cdnjs.cloudflare.com/ajax/libs/web-animations/2.3.2/web-animations.min.js"

/ An accessible dialog window library for all humans.
link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Modaal/0.4.4/css/modaal.min.css"
script src="https://cdnjs.cloudflare.com/ajax/libs/Modaal/0.4.4/js/modaal.min.js"

/ A jQuery plugin that assists scrolling and smoothly snaps to sections.
script src="https://cdnjs.cloudflare.com/ajax/libs/scrollify/1.0.21/jquery.scrollify.min.js"

/ A simple, lightweight jQuery plugin used to display a progress bar at the top of the page that fills up as the user scrolls.
script src="https://cdnjs.cloudflare.com/ajax/libs/scrollgress/2.0.0/scrollgress.min.js"

/ A jQuery plugin from GSGD to give advanced easing options
script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"

/ JavaScript library to make drawing animation on SVG
script src="https://cdnjs.cloudflare.com/ajax/libs/vivus/0.4.6/vivus.min.js"

/ TOOLTIP & POPOVER POSITIONING ENGINE
script src="https://unpkg.com/@popperjs/core@2"
/ Tippy.js is the complete tooltip, popover, dropdown, and menu solution for the web, powered by Popper.
script src="https://unpkg.com/tippy.js@6"

/ A simple, lightweight jQuery plugin for reading, writing and deleting cookies.
script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"

/ A simple plugin to create split scrolling websites with two vertical scrolling panels.
link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/multiscroll.js/0.2.3/jquery.multiscroll.min.css"
script src="https://cdnjs.cloudflare.com/ajax/libs/multiscroll.js/0.2.3/jquery.multiscroll.min.js"

/ particleText
script src="https://raw.githubusercontent.com/55Kaerukun/particleText.js/master/particleText.min.js"
