h1 猫たちの紹介

= partial "cat",
           locals: { name: "タマ",
                     image_filename: "tama.jpg",
                     introduction: "タマです。白黒の猫です。"}

= partial "cat",
           locals: { name: "ミケ",
                     image_filename: "mike.jpg",
                     introduction: "ミケです。茶色の猫です。"}
