---
title: さくら商会 - Kitchen Sink
---

h2 Kitchen Sink
p コード使用例 いろいろ

h3 リンクヘルパー
= link_to "トップ", "index.html"
= link_to "ドキュメントを読む", "https://middlemanapp.com/jp/basics/templating_language/", target: "_blank"
hr

h3 イメージヘルパー
= tag :img, src: "images/logo.webp"
= image_tag "logo.webp"
= image_tag 'logo.webp', width: 100, class: 'logo', alt: 'ロゴ'
hr

h3 コンテンツタグ
= content_tag :p, class: "message" do
  | おはようございます
hr

h3 メールリンク
= mail_to 'fake@faker.com', "Fake Email Link", cc: "test@demo.com"
hr

h3 フォームタグ
= form_tag '/destroy', class: 'ui form', method: 'post' do
  .field
    = label_tag :username, class: 'username'
    = text_field_tag :username, placeholder: '名前を入力してください', required: true
  .field
    = label_tag :password, class: 'password'
    = password_field_tag :password, value: 'password', required: true
  .field
    = label_tag :strategy
    = select_tag :strategy, options: { delete: 'del',
                                       destroy: 'D'   }, selected: 'del'
  .field
    = label_tag '本当に削除する', for: :confirm_delete do
      = check_box_tag :confirm_delete, id: 'confirm_delete'
  .field
    = submit_tag "削除", class: 'ui primary button'
hr

h3 lorem センテンス
= lorem.sentences 5
= lorem.date
hr

h3 iroha イメージ(lorem イメージと同様)
= image_tag iroha.image('200x100')
= image_tag iroha.image('200x100', background_color: '333', color: 'fff')
= image_tag iroha.image('200x100', random_color: true)
= image_tag iroha.image('200x100', text: 'Hello')
= image_tag placekitten(200)

h3 カスタムヘルパーメソッドの使用例
ruby:
  users = [
    { family_name: '山田', given_name: '太郎', gender: 'male', admin: true},
    { family_name: '山田', given_name: '次郎', gender: 'male' },
    { family_name: '山田', given_name: '花子', gender: 'female' }
  ]
= table_of_users(users)

h3 カスタムヘルパーメソッドと、データファイルの使用例
= introduce(data.books[0])

h3 文例
= iroha.tango
br
= iroha.tango(10)
br
= iroha.bunsho
br
= iroha.bunsho(10)
br
= iroha.danraku
br
= iroha.danraku(10)
br

h3 日付
= iroha.hiduke

h3 人名
= iroha.shimei
br
= iroha.namae
br
= iroha.otoko
br
= iroha.onna

h3 メールアドレス
= iroha.email
