---
title: "利用者一覧"

my_favorite_users_list:
- family_name: 浅倉
  given_name: 南
  gender: female
  admin: true

- family_name: 上杉
  given_name: 達也
  gender: male
  admin: false

- family_name: 上杉
  given_name: 和也
  gender: male
  admin: false
---

h1 利用者一覧

= table_of_users(current_page.data.my_favorite_users_list)
